@charset "utf-8";

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #1e402f;
}
h1#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}
h2 {
    color: #3c805e;
}
.basico {
color: #045f29;
}

.intermediario{
color: #e4ce07;
}

.avançado{
    color: darkred;
}
.destaque{
    background-color: #9d901a;
}